<section class="page-section" id="contact">
  <div class="container">
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Cadastro Cliente
    </h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <form [formGroup]="customerResgitrationForm">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="fullName"
              type="text"
              placeholder="Digite seu nome."
              formControlName="fullName"
              [class.is-invalid]="showError('fullName')"
            />
            <label for="fullName">Nome completo</label>
            <div class="invalid-feedback">Nome é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="cpf"
              type="cpf"
              placeholder="Digite seu cpf."
              formControlName="cpf"
              mask="000.000.000-99"
              [class.is-invalid]="showError('cpf')"
            />
            <label for="cpf">Cpf</label>
            <div class="invalid-feedback">Cpf é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="cep"
              type="text"
              placeholder="Digite seu cep."
              formControlName="cep"
              mask="00000-999"
              [class.is-invalid]="showError('cep')"
              (blur)="fetchViaCep()"
            />
            <label for="cep">Cep</label>
            <div class="invalid-feedback">Cep é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="street"
              type="text"
              placeholder="Digite sua rua."
              formControlName="street"
              [class.is-invalid]="showError('street')"
            />
            <label for="street">Rua</label>
            <div class="invalid-feedback">Rua é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="number"
              type="number"
              min="0"
              placeholder="Digite seu numero."
              formControlName="number"
              [class.is-invalid]="showError('number')"
            />
            <label for="number">Número</label>
            <div class="invalid-feedback">Número é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="city"
              type="text"
              placeholder="Digite sua cidade."
              formControlName="city"
              [class.is-invalid]="showError('city')"
            />
            <label for="city">Cidade</label>
            <div class="invalid-feedback">Cidade é obrigatório.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="state"
              type="text"
              placeholder="Digite seu estado."
              formControlName="state"
              [class.is-invalid]="showError('state')"
            />
            <label for="state">Estado</label>
            <div class="invalid-feedback">Estado é obrigatório.</div>
          </div>

          <button
            class="btn btn-primary btn-xl"
            id="submitButton"
            type="submit"
            (click)="onSubmit()"
          >
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
