<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          Rio de Janeiro
          <br />
          Petrópolis
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Social Media</h4>
        <a
          class="btn btn-outline-light btn-floating mx-1"
          href="https://github.com/renato-viana"
          target="_blank"
          role="button"
          ><img src="assets/img/footer/github.png"
        /></a>
        <a
          class="btn btn-outline-light btn-floating mx-1"
          href="https://linkedin.com/in/renato-borges-viana"
          target="_blank"
          role="button"
          ><img src="assets/img/footer/linkedin.png"
        /></a>
        <a
          class="btn btn-outline-light btn-floating mx-1"
          href="mailto:renatoviana30@gmail.com"
          target="_blank"
          role="button"
          ><img src="assets/img/footer/gmail.png"
        /></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Gama Academy</h4>
        <p class="lead mb-0">
          Master class, Angular
          <a
            href="https://github.com/renato-viana/gama-registration-project.git"
            target="_blank"
            >project</a
          >
          .
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Gama Academy Master Class 2022</small>
  </div>
</div>
