<div class="container text-center">
  <div class="table-responsive">
    <table class="table table-bordered table-light table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">CEP</th>
          <th scope="col">Rua</th>
          <th scope="col">Número</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.fullName }}</td>
          <td>{{ customer.cpf | mask: "000.000.000-99" }}</td>
          <td>{{ customer.cep | mask: "00000-999" }}</td>
          <td>{{ customer.street }}</td>
          <td>{{ customer.number }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-primary" (click)="redirect()">
      Cadastrar
    </button>
  </div>
</div>
