<!-- DashboardSection-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- DashboardSection Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Dashboard
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
    </div>
    <!-- DashboardGrid Items-->
    <div class="row justify-content-center">
      <!-- DashboardItem 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal1"
          (click)="openCustomerTable()"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/dashboard/customers.png"
            alt="Table"
          />
        </div>
      </div>

      <!-- DashboardItem 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="#portfolioModal1"
          (click)="openCompanyTable()"
        >
          <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
          >
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="assets/img/dashboard/company.png"
            alt="Table"
          />
        </div>
      </div>
    </div>
  </div>
</section>
